body{
    padding: 0;
    overflow: hidden;
    --tools-menu-width: 160px;
    --top-menu-height: 40px;
    --icons-size: 34px;
}


.top-menu {
    height: var(--top-menu-height);
    background-color: #f0f0f0;
    justify-content: space-between;
}

.workspace {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.menu {
    width: var(--tools-menu-width);
    height: 100%;
    padding: 10px;
    display: flex;
    background-color: #e0e0e0;
    flex-direction: column;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e3e3e3;
}

.tool {
    display: flex;
    align-items: center;
    padding: 5px;
}

.tools-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 6px;
    height: 40px;
}

.tool-button {
    line-height: 40px;
}

.tool-icon {
    margin-right: 10px;
    width: var(--icons-size);
    height: var(--icons-size);
}

.tool-title {
    font-size: 16px;
    font-weight: bold;
}

.dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin-left: auto;
    cursor: pointer;
}

.dropdown-arrow:hover {
    border-top-color: #888;
}

canvas {
    /* width: calc(100% - var(--tools-menu-width));
    height: calc(100% - var(--top-menu-height));; */
    width: 512px;
    height: 512px;
    border: 2px solid black;
    margin-right: 1px;
    margin-bottom: 4px;
}

.correction-details {
    display: none;
}

.detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-range{
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.range-value {
    margin-left: 6px;
}

.detail-title{
    width: 85%;
    display: flex;
    justify-content: center;
}

.histogram {
    width: 380px;
    height: 380px;
    position: absolute;
    left: 15%;
    top:30%;
    background-color: #f0f0f0;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    border: solid;
}

#canvasHistogram {
    width: 256px;
    height: 256px; /* Adjust height as needed */
    background-color: #f0f0f0;
    padding: 20px;
  }

  .channelButton {
    text-decoration: none;
    cursor: pointer;
  }
  
  .channelButton.clicked {
    text-decoration: line-through;
  }
  